.container {
  display: flex;
  color: black;
  font-size: var(--font-size-4);
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.iconDark {
  color: black;
}

.iconLight {
  color: white;
}

.text {
  margin-left: 0.8rem;
}
