.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-image: url("/static/images/Ellipse.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
