.main {
  background-color: white;
  background-image: url("/static/images/Ellipse.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 130vh;
}

.contentWrapper {
  display: flex;
  align-items: center;
  min-height: calc(85vh - var(--header-height));
  padding: 0 4%;
}
